<h1>New lprofile</h1>

<% form_for(@lprofile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :learner_profile_id %><br />
    <%= f.text_field :learner_profile_id %>
  </p>
  <p>
    <%= f.label :unit_planner %><br />
    <%= f.text_field :unit_planner %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', lprofiles_path %>