<h1>Listing objectives</h1>

<table>
  <tr>
    <th>Subject area</th>
    <th>Tag</th>
    <th>Description</th>
  </tr>

<% @objectives.each do |objective| %>
  <tr>
    <td><%=h objective.subject_area %></td>
    <td><%=h objective.tag %></td>
    <td><%=h objective.description %></td>
    <td><%= link_to 'Show', objective %></td>
    <td><%= link_to 'Edit', edit_objective_path(objective) %></td>
    <td><%= link_to 'Destroy', objective, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New objective', new_objective_path %>