<p>
  <b>Subject area:</b>
  <%=h @objective.subject_area %>
</p>

<p>
  <b>Tag:</b>
  <%=h @objective.subcategory %>
</p>

<p>
  <b>Description:</b>
  <%=h @objective.description %>
</p>


<%= link_to "Back to Criterion \'#{@objective.criterion.subject.titleize}:#{@objective.criterion.category}\'", criterion_path(@objective.criterion) %> |
<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>