<tr><td colspan="4">

  <b>A(f):</b> <%= formative_task.description %>

</td>

<td>

<%for o in formative_task.objectives.all(:include=>:criterion)%>
<%="<b>#{o.criterion.category}#{o.subcategory}:</b> #{o.description}"%>
<br />
<%end%>

</td>

<td>

<%=blooms_text(formative_task.level)%>

</td>

<td>

  <%=formative_task.task %>
  
</td>

<!-- links to edit and delete functionality --> 
<td class="no_print">
<%=link_to('Edit', edit_unit_planner_formative_task_path(@unit_planner, formative_task)) %> 
<%= link_to('Delete', formative_task, :confirm => 'Are you sure you want to delete this Formative Task for ever?', :method => :delete) %>


</td>

</tr>

