<tr><td colspan="4">

  <b>A(s):</b> <%= summative_task.description %>

</td>

<td>

<%for oc in summative_task.criterions%>
<%="<b>#{oc.category}:</b> #{oc.title}"%>
<br />
<%end%>

</td>

<td>

<%=blooms_text(summative_task.level)%>

</td>

<td>

  <%=summative_task.task %>
  
</td>

<!-- links to edit and delete functionality --> 
<td>
<%=link_to('Edit', edit_summative_task_path(summative_task)) %> 
<%= link_to('Delete', summative_task, :confirm => 'Are you sure?', :method => :delete) %>


</td>

</tr>

