<h1>Editing Resources</h1>

<% form_for(@unit_planner) do |f| %>
  <%= f.error_messages %>

<%=hidden_field_tag :anchor, "resources"%>

  <p>
    <%= f.label :resources %><br />
    <%= f.text_area :resources %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Cancel', unit_planner_path(@unit_planner, :anchor=>"resources") %>