<h1>Editing International Awareness</h1>

<% form_for(@unit_planner) do |f| %>
  <%= f.error_messages %>

<%=hidden_field_tag :anchor, "international_awareness"%>

  <p>
    <%= f.label :intercultural_awareness %><br />
    <%= f.text_area :intercultural_awareness %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Cancel', unit_planner_path(@unit_planner, :anchor=>"international_awareness") %>