



<div class="section">
	<div class="title">Identification</div>

	<%=render :partial=>"identification"%>
	<div class="navigation">
		<%= link_to 'Edit Identification', edit_identification_unit_planner_path(@unit_planner) %>
	</div>

</div>

<div class="section">
	<%=render :partial=>"visioning"%>
	<div class="navigation">
		<%= link_to 'Edit Visioning', edit_visioning_unit_planner_path(@unit_planner) %>
	</div>
</div>

<div class="section">

	<div class="section" id="unit_objectives">
		<div class="title">MYP Objectives:</div>

		<%for objective in @unit_planner.objectives.all(:include=>:criterion, :order=>'criterions.category, objectives.subcategory') %>
		<div style="margin:5px">
			<%= "<b>#{objective.criterion.category}#{objective.subcategory}:</b> #{objective.description}" %>
		</div> 

		<%end%>

		<div class="navigation">
			<%= link_to ('Edit Objectives', edit_objectives_unit_planner_path(@unit_planner)) %>
		</div>

	</div>

	<div class="section">
		<div class="title" style="border-bottom:1px solid #555">
			MYP Criteria:
		</div>
		<% @unit_planner.criterions.each do |criterion| %>
		<div>Criterion <%="#{criterion.category}: #{criterion.title}"%></div>
		<% end %>
	</div>

</div>



<!-- summative tasks -->
<div class="section" id='summative_tasks'>
	<div style="color: #f00;margin-bottom: 0;padding: 5px;">	
		<%= "Criterions #{@criterions_sans_summative_tasks} do not have Summative Tasks" unless @criterions_sans_summative_tasks.blank?%>
	</div>

	<table>
		<tr class="tint"><td colspan="4"><label>Summative Assessment Task(s)</label></td><td><label>MYP Criteria</label></td><td><label>Blooms Level</label></td><td><label>Type of Task</label></td></tr>
		<%=render :partial=>'summative_task', :collection=>@unit_planner.summative_tasks %>
	</table>
	<div class="navigation"><%=link_to 'New Summative Task', new_unit_planner_summative_task_path(@unit_planner)%></div>
	
</div>

<div id="summative_exemplars" class="section">	
	<div class="title">How will students know what is expected of them on the summative task(s)?</div>
	<%=@unit_planner.summative_exemplars%>
	
	
	<div class="navigation"><%=link_to 'Edit Summative Exemplars', edit_summative_exemplars_unit_planner_path(@unit_planner)%></div>
</div>

<div class="section" id="backward_planner">
	<h2>Stage 2: Backward Planning through Inquiry</h2>
	<div class="section">
		<div class="title">Learning Readiness</div>

		<div id="prior_knowledge">
		<b>Prior knowledge needed:</b><p/>
		<pre style="font-size:15px">
<%=h @unit_planner.prior_knowledge %>
</pre>
			<div class="navigation">
				<%= link_to "Edit Prior Knowledge Needed", edit_prior_knowledge_unit_planner_path(@unit_planner)%>
				
			</div>
		</div>
		<div id="diagnostic_assessment">
		<b>Diagnostic assessment(s):</b><p/>
		<pre style="font-size:15px">
<%=h @unit_planner.diagnostic_assessments %>
			</pre>
			<div class="navigation">
				<%= link_to "Edit Diagnostic Assessment", edit_diagnostic_assessment_unit_planner_path(@unit_planner)%>
			</div>
		</div>

	</div>	

	<div class="section">

		<div id="unit_content" class="title">Unit Content</div>
<br/>
			<div class="title">Know</div>
<pre><%=h @unit_planner.know %></pre>
			<div class="title">Understand</div>
			
<pre><%=h @unit_planner.understand %></pre>
				<div class="title">Do</div>				
<pre><%=h @unit_planner.perform %></pre>

			<div class="navigation">
				<%= link_to ("Edit Know Understand Do", edit_know_understand_perform_unit_planner_path()) %></div>
			</div>

		</div>

		<%= render :partial => 'indicators' %>

		<div class="section" id="international_awareness">
			<div class="title">Intercultural Awareness -- International Mindedness</div>
			<div style="height:36px">
				<%=h @unit_planner.intercultural_awareness %>
			</div>
			<div class="navigation">
				<%= link_to ("Edit International Awareness", edit_international_awareness_unit_planner_path()) %></div>
			</div>

		</div>

		<div class="section_1">
			<div class="title">Learning Support</div>

			<%# Need to make this a partial%>	
			<div id="learner_profiles" class="section">
				<div class="title">Learner Profile</div>
				
				<% unless @unit_planner.learner_profiles.no_description.empty? %>
				<div class="errorExplanation">	
					<%for learner_profile in @unit_planner.learner_profiles%>
						<%if learner_profile.description.blank?%>
						<%="<em>#{learner_profile.trait.name}</em> does not have a description"%><br/>
						<%end%>
					<%end%>
				</div>
				<% end %>
				
				<div style="min-height:36px">

					<%for learner_profile in @unit_planner.learner_profiles%>
					<div>
						<b><%=learner_profile.trait.name%></b><%=": #{learner_profile.description}" unless learner_profile.description.blank?%>
					</div>
					<%end%>

				</div>
				<div class="navigation">
					<%= link_to "Select Traits", edit_unit_planner_learner_profile_path(@unit_planner)%>
				</div>

			</div>
			<%# Bottom of LProfiles%>

			<div class="section">
				<div id="learning_styles" class="title">Teaching Strategies to Support Learning</div>				
				<div style="font-style:italic">
					How will different learning styles be supported?
				</div>
				<%for learning_style in @unit_planner.learning_styles%>
				<div>
					<b><%= learning_style.intelligence.name %></b><%= ": #{learning_style.description}" unless learning_style.description.blank?%>
				</div>
				<%end%>
				
				<p>
				<span style='font-weight:bold'>Learning Support:</span>
				<%= @unit_planner.learning_support %>
				</p>
				<p>
				<span style='font-weight:bold'>Learning Extension:</span>
				<%= @unit_planner.learning_extension %>
</p>
				<div id="teaching_strategies" class="navigation">
					<%= link_to "Teaching Strategies", edit_teaching_strategies_unit_planner_path(@unit_planner) %></div>
				</div>
			</div>

			<div class="section" id="skills">
				<div class="title">Approaches to Learning Skills</div>

				<% @skills.each do |skill| %>
				<div style='margin:5px'>
					<span style='font-weight:bold'><%=h "#{skill.label}. #{skill.name}"%></span>
					<% Strategy.find_all_by_skill_id(skill.id, :order=>:label, :include=>:approaches, :conditions=>["approaches.unit_planner_id=?", @unit_planner.id]).each do |strategy| %>
					<div style='margin:0px 15px'>
						<%= h "#{strategy.label}. #{strategy.description}" if (@unit_planner.strategies.include? strategy) %>
					</div>
					<%end%>
				</div>
				<% end %>
				

				<div class="navigation">
					<%= link_to "Select Approaches", edit_unit_planner_approach_path(@unit_planner) %></div>
				</div>

			<div class="section">
				<div class="title">Learning Activities</div>

				<div style="height:36px">
					<%=h @unit_planner.learning_activities %>
				</div>
			</div>
			
			<%= render :partial => 'formative_tasks' %>

			<div class="section">
				<div class="title">Resources</div>

				<div style="height:36px">
					<%=h @unit_planner.resources %>
				</div>

			</div>



		</div>
