



<div class="section">
	<div class="title">Identification</div>
	
	<%=render :partial=>"identification"%>
	<div class="navigation">
		<%= link_to 'Edit Identification', edit_identification_unit_planner_path(@unit_planner) %>
	</div>
	
</div>

<div class="section">
	<%=render :partial=>"visioning"%>
	<div class="navigation">
		<%= link_to 'Edit Visioning', edit_visioning_unit_planner_path(@unit_planner) %>
	</div>
</div>

<div class="section">

	<div class="section" id="unit_objectives">
		<div class="title">MYP Objectives:</div>

		<%for objective in @unit_planner.objectives.all(:include=>:criterion, :order=>'criterions.category, objectives.subcategory') %>
		<div style="margin:5px">
			<%= "<b>#{objective.criterion.category}#{objective.subcategory}:</b> #{objective.description}" %>
		</div> 

		<%end%>

		<div class="navigation">
			<%= link_to ('Edit Objectives', edit_objectives_unit_planner_path(@unit_planner)) %>
		</div>

	</div>

	<div class="section">
		<div class="title" style="border-bottom:1px solid #555">
			MYP Criteria:
		</div>
		<% @unit_planner.criterions.each do |criterion| %>
		<div>Criterion <%="#{criterion.category}: #{criterion.title}"%></div>
		<% end %>
	</div>

</div>

<div class="section_1">
	<div class="title">Summative and Formative Tasks</div>

<div style="color: #f00;margin-bottom: 0;padding: 5px;">	
<%= "#{pluralize(@objectives_sans_formative_tasks.size, "Objectives")} #{@objectives_sans_formative_tasks.join(", ")} do not have Formative Tasks" unless @objectives_sans_formative_tasks.blank?%>
</div>
<div style="color: #f00;margin-bottom: 0;padding: 5px;">	
<%= "Criterions #{@criterions_sans_summative_tasks} do not have Summative Tasks" unless @criterions_sans_summative_tasks.blank?%>
</div>

<!-- summative tasks -->
<div class="section" id="summative_tasks">
	<table>
		<tr class="tint"><td colspan="4"><label>Summative Assessment Task(s)</label></td><td><label>MYP Criteria</label></td><td><label>Blooms Level</label></td><td><label>Type of Task</label></td></tr>
		<%=render :partial=>'summative_task', :collection=>@unit_planner.summative_tasks %>
	</table>
	<div class="navigation"><%=link_to 'New Summative Task', new_unit_planner_summative_task_path(@unit_planner)%></div>
</div>

<div class="section" id='formative_tasks'>

	<!-- change architecture to-->
	<!-- render :partial=>'formative_tasks' # plural!! -->
	<table width="100%">
		<tr class="tint"><td colspan="4"><label>Formative Task(s)</label></td><td><label>MYP Objectives</label></td><td><label>Blooms Level</label></td><td><label>Type of Task</label></td></tr>
		<%=render :partial=>'formative_task', :collection=>@unit_planner.formative_tasks %>
	</table>
	<div class="navigation"><%=link_to 'New Formative Task', new_unit_planner_formative_task_path(@unit_planner)%></div>

</div>

</div>

<div id="indicators" class="section">
	<div class="title">Standards</div>
	<div style="min-height:36px">

		<%#= render :partial => 'indications/index', :object=>@unit_planner%>
		<%#inline for now. Make a partial afterwards%>
		
		<%for standard in @unit_planner.subject.standards%>
		<% if @unit_planner.indications.all.find{|x| x.indicator.standard==standard}%>
		<div style="font-weight:bold" >
			<%="#{standard.label}. #{standard.name}"%>
		</div>
		<%end%>
			<%for indication in @unit_planner.indications.all(:include=>:indicator, :order=>"indicators.label").find_all{|y| y.indicator.standard==standard}%>
			<div style="margin-left:15px">
			
<%="#{indication.indicator.standard.label}.#{indication.indicator.label}"%></span> <span><%="#{indication.indicator.description}"%>
	</div>
	
				<%end%>
		<%end%>

		<div class="navigation">
			<%= link_to "Select Standards", edit_unit_planner_indication_path(@unit_planner)%>
		</div>

	</div>

</div>

<div class="section" id="backward_planner">
	<h2>Backward Planning</h2>
	<div class="section">
		<div class="title">Learning Readiness</div>

		<b>Prior knowledge needed:</b>
		<div style="height:36px">
			<%=h @unit_planner.prior_knowledge %>
		</div>
		<b>Diagnostic assessment(s):</b>
		<div style="height:36px">
			<%=h @unit_planner.diagnostic_assessments %>
		</div>

	</div>

	<div class="section">

		<div class="title">Unit Content</div>

		<table border="0" cellspacing="5" cellpadding="5">
			<tr><th>Know</th><th>Understand</th><th>Do</th></tr>
			<tr><td><%=h @unit_planner.know %></td>
				<td><%=h @unit_planner.understand %></td>
				<td><%=h @unit_planner.perform %></td></tr>
			</table>

		</div>


		<div class="section">
			<div class="title">Intercultural Awareness -- International Mindedness</div>
			<div style="height:36px">
				<%=h @unit_planner.intercultural_awareness %>
			</div>


		</div>
		
		<div class="section_1">
			<div class="title">Learning Process</div>
			
		<%# Need to make this a partial%>	
		<div id="lprofiles" class="section">
			<div class="title">Learner Profile</div>
			<div style="min-height:36px">

				<%for lprofile in @unit_planner.lprofiles%>
				<div>
					<b><%=lprofile.trait.name%></b><%=": #{lprofile.description}" unless lprofile.description.blank?%>
				</div>
				<%end%>

			</div>
				<div class="navigation">
					<%= link_to "Select Traits", edit_unit_planner_lprofile_path(@unit_planner)%>
				</div>

			</div>
		<%# Bottom of LProfiles%>
		
		<div class="section">
			<div id="learning_styles" class="title">Learning Style Differentiation</div>
			<div style="font-style:italic">
				How will different learning styles be supported?
			</div>
			<%for learning_style in @unit_planner.learning_styles%>
				<div>
					<b><%= learning_style.intelligence.name %></b><%= ": #{learning_style.description}" unless learning_style.description.blank?%>
				</div>
			<%end%>
			
			<div class="navigation">
				<%= link_to "Select Learning Styles", edit_unit_planner_learning_style_path(@unit_planner) %></div>
			</div>
		</div>
		<div class="section">
			<div class="title">Teaching Strategies to Support Learning</div>

			<div style="height:36px">
				<%=h @unit_planner.teaching_strategies %>
			</div>
		</div>

		<div class="section">
			<div class="title">Approaches to Learning Skills</div>
			
			<% @skills.each do |skill| %>
			<div style='margin:5px'>
				<span style='font-weight:bold'><%=h "#{skill.label}. #{skill.name}"%></span>
				<% Strategy.find_all_by_skill_id(skill.id, :order=>:label, :include=>:approaches, :conditions=>["approaches.unit_planner_id=?", @unit_planner.id]).each do |strategy| %>
				<div style='margin:0px 15px'>
					<%= h "#{strategy.label}. #{strategy.description}" if (@unit_planner.strategies.include? strategy) %>
				</div>
				<%end%>
			</div>
			<% end %>


			<div class="navigation">
				<%= link_to "Select Approaches", edit_unit_planner_approach_path(@unit_planner) %></div>
			</div>
		</div>

		<div class="section">
			<div class="title">Learning Activities</div>

			<div style="height:36px">
				<%=h @unit_planner.learning_activities %>
			</div>
		</div>

		<div class="navigation"><%=link_to 'Edit Backward Plannner', edit_backward_planner_unit_planner_path(@unit_planner)%></div>
	</div>


	<div class="section">
		<div class="title">Resources</div>

		<div style="height:36px">
			<%=h @unit_planner.resources %>
		</div>

	</div>



</div>
<%= link_to 'Back', unit_planners_path %>