<h1>New standard_group</h1>

<% form_for(@standard_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', standard_groups_path %>