<h1>Subject: <em><%= h @subject.name.titleize %></em></h1>

<p>
	<b>Name:</b>
	<%=h @subject.name %>
</p>

<p>
	<b>Description:</b>
	<%=h @subject.description %>
</p>

<div class="section">
	<strong>Criterions</strong>
	<table>
		<%for criterion in @subject.criterions%>
		<tr>
			<td><strong><%= criterion.category %>: </strong><%= criterion.title %></td>
			<td>
				<%= link_to("View", criterion_path(criterion))%> |
				<%= link_to("Edit", edit_criterion_path(criterion))%> |
				<%= link_to "Delete", criterion, :confirm=>"Are you sure?", :method=>"delete" %>
			</td>
		</tr>
		<%end%>
	</table>
	<div class="navigation">
	<%= link_to("New Criterion", new_subject_criterion_path(@subject))%>
	</div>
</div>

<div class="section" id="standards">
	<strong>Standards</strong>
	<table>
		<%for standard in @subject.standards%>
		<tr>
			<td><strong><%=standard.label%>: </strong><%= standard.name %></td>
			<td>
				<%= link_to("View", standard_path(standard))%> |
				<%= link_to("Edit", edit_standard_path(standard))%> |
				<%= link_to "Delete", standard, :confirm=>"Are you sure?", :method=>"delete" %>
			</td>
		</tr>
		<%end%>
	</table>
	<div class="navigation">
	<%= link_to("New Standard", new_subject_standard_path(@subject))%>
	</div>
</div>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>