<h1>Select Traits</h1>

<div style="margin:15px">And describe how each chosen trait will be supported through this unit.
	</div>

<% form_for(@unit_planner, :url=>update_learner_profiles_unit_planner_path(@unit_planner.id), :html=>{:method=>:put}) do |f| %>
  <%= f.error_messages %>

	<%for trait in Trait.all(:order=>:name)%>

	<div>
	<%=check_box_tag "unit_planner[trait_ids][]", trait.id, @unit_planner.trait_ids.include?(trait.id)%><%="#{trait.name}"%> <%=text_field_tag "unit_planner[learner_profile_descriptions][#{trait.id}]",
	(@unit_planner.learner_profiles.find_by_trait_id(trait.id).description if @unit_planner.learner_profiles.find_by_trait_id(trait.id)),:size => 60%>
	</div>
	<%end%>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', (@unit_planner) %>
