<h1>Listing lprofiles</h1>

<table>
  <tr>
    <th>Learner profile</th>
    <th>Unit planner</th>
  </tr>

<% @lprofiles.each do |lprofile| %>
  <tr>
    <td><%=h lprofile.learner_profile_id %></td>
    <td><%=h lprofile.unit_planner %></td>
    <td><%= link_to 'Show', lprofile %></td>
    <td><%= link_to 'Edit', edit_lprofile_path(lprofile) %></td>
    <td><%= link_to 'Destroy', lprofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lprofile', new_lprofile_path %>