<h1>Editing criterion</h1>

<% form_for([@subject, @criterion]) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form', :object=>f %>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @criterion %> |
<%= link_to 'Back', subject_path(@criterion.subject, :anchor=>:criterions) %>