<h1>Editing course</h1>

<% form_for([@subject,@course]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', subject_course_path(@subject, @course) %> |
<%= link_to 'Back', subject_path(@subject) %>