<h1>Listing approaches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Unit planner</th>
    <th>Strategy</th>
  </tr>

<% @approaches.each do |approach| %>
  <tr>
    <td><%=h approach.name %></td>
    <td><%=h approach.unit_planner_id %></td>
    <td><%=h approach.strategy_id %></td>
    <td><%= link_to 'Show', approach %></td>
    <td><%= link_to 'Edit', edit_approach_path(approach) %></td>
    <td><%= link_to 'Destroy', approach, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New approach', new_approach_path %>