<p>
  <b>Name:</b>
  <%=h @approach.name %>
</p>

<p>
  <b>Unit planner:</b>
  <%=h @approach.unit_planner_id %>
</p>

<p>
  <b>Strategy:</b>
  <%=h @approach.strategy_id %>
</p>


<%= link_to 'Edit', edit_approach_path(@approach) %> |
<%= link_to 'Back', approaches_path %>