<p>
  <b>Description:</b>
  <%=h @learning_style.description %>
</p>

<p>
  <b>Intelligence:</b>
  <%=h @learning_style.intelligence_id %>
</p>

<p>
  <b>Unit planner:</b>
  <%=h @learning_style.unit_planner_id %>
</p>


<%= link_to 'Edit', edit_learning_style_path(@learning_style) %> |
<%= link_to 'Back', learning_styles_path %>