<h1>Editing Indicator</h1>

<% form_for(@indicator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @indicator %> |
<%= link_to 'Back', @standard %>