<h1>Listing standards</h1>

<table>
  <tr>
    <th>Standard group</th>
    <th>Tag</th>
    <th>Description</th>
    <th>Middle</th>
    <th>High</th>
  </tr>

<% @standards.each do |standard| %>
  <tr>
    <td><%=h standard.standard_group_id %></td>
    <td><%=h standard.tag %></td>
    <td><%=h standard.description %></td>
    <td><%=h standard.middle %></td>
    <td><%=h standard.high %></td>
    <td><%= link_to 'Show', standard %></td>
    <td><%= link_to 'Edit', edit_standard_path(standard) %></td>
    <td><%= link_to 'Destroy', standard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New standard', new_standard_path %>