<h1>Listing strategies</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% @strategies.each do |strategy| %>
  <tr>
    <td><%=h strategy.description %></td>
    <td><%= link_to 'Show', strategy %></td>
    <td><%= link_to 'Edit', edit_strategy_path(strategy) %></td>
    <td><%= link_to 'Destroy', strategy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New strategy', new_strategy_path %>