<h1>Listing standard_groups</h1>

<table>
  <tr>
    <th>Tag</th>
    <th>Description</th>
  </tr>

<% @standards.each do |standard| %>
  <tr>
    <td><%=h standard.label %></td>
    <td><%=h standard.name %></td>
    <td><%=h standard.description %></td>
    <td><%= link_to 'Show', standard %></td>
    <td><%= link_to 'Edit', edit_standard_path(standard) %></td>
    <td><%= link_to 'Destroy', standard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
