<h1><%= "#{link_to( @subject.name, @subject, :anchor=>'standards')}->New Standard" %></h1>

<% form_for([@subject, @standard]) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div>
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Cancel', subject_path(@subject, :anchor=>dom_id(@standard)) %>