<p>
  <b>Tag:</b>
  <%=h @standard.label %>
</p>

<p>
  <b>Title:</b>
  <%=h @standard.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @standard.description %>
</p>


<%= link_to 'Edit', edit_subject_standard_path(@subject, @standard) %> |
<%= link_to 'Back', subject_path(@subject) %>