<p>
  <b>Label:</b>
  <%=h @standard.label %>
</p>

<p>
  <b>Name:</b>
  <%=h @standard.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @standard.description %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', subject_path(@standard.subject, :anchor=>dom_id(@standard)) %>