<h1>Editing coverage</h1>

<% form_for(@coverage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unit_planner_id %><br />
    <%= f.text_field :unit_planner_id %>
  </p>
  <p>
    <%= f.label :standard_id %><br />
    <%= f.text_field :standard_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @coverage %> |
<%= link_to 'Back', coverages_path %>